@font-face{
    font-family: 'firaSans';
    src:url('../../../assents/font/Fira_Sans/FiraSans-ExtraLight.ttf');
}
*{
    font-family: 'firaSans';
}
#main_vid {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
}

#main_vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#main {
    margin: 0 15%;
}

@media (max-width: 668px) {
    #main {
        margin: 0;
    }
}
/* parte da descrição */
.texto_Descricao_dentro{
    display: none;
}
.texto_Descricao:hover .texto_Descricao_dentro{
    display: block;
}