@font-face{
    font-family: 'firaSans';
    src:url('../assents/font/Fira_Sans/FiraSans-ExtraLight.ttf');
}
*{
    font-family: 'firaSans';
}
.imgCarrosel{
    height: 40%;
    width: 100%;
    box-shadow: 0px -5px 100px 0px black;
}
.texto_carrosel{
    display: flex;
    z-index: 1;
    position: absolute;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    margin-top: -123px;
    left: 50%;
    transform: translateX(-50%);
}
/* link paras os videos */
.card{
    box-shadow: 0px 0px 1px 1px black;
    margin-top: 20px;
    width: 25%;
    margin-bottom: 28px;
}
.card-img-top{
    max-width: 100%;
}

#links{
    display: flex;
    justify-content: space-around;
}
.btn-primary{
    background-color: aliceblue;
    color: blue;
}
.btn-primary:hover{
    background-color: rgb(160, 160, 160);
    color: rgb(0, 0, 255);
}
.btn-primary:active{
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 255);
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 255);
}
/* proporsão de no */
@media(max-width: 638px){
    #links{
        display: grid;
        justify-items: center;
    }
    .card{
        width: 84%;
    }
    .texto-02_carrosel{
        font-size: revert-layer;
    }
    #img_Quadrado{
        width: 1134px;
    }
}
.hrDivisor{
    height: 50px;
    width: 100%;
    background-color: #ff0000;
    margin-top: auto;
}
.music_text{
    font-size: xx-large;
    border-bottom: 6px solid black;
    transition: 1s;
}
.text_music{
    display: flex;
    align-items: center;
    justify-content: center;
}
.music_text:hover{
    border-bottom: 6px solid rgb(255, 0, 0);
    color: #ff0000;
}
.music_text:active{
    border-radius: 12px;
    border-bottom: 6px solid rgb(255, 0, 0);
    border-left: 3px solid rgb(255, 0, 0);
    border-right: 3px solid rgb(255, 0, 0);
    color: #6b0000;
}
